.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.navbar .logo {
    width: 100px;
    height: auto;
    object-fit: contain;
    display: block;
}

/* Menu Items */
.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #000000;
    font-size: 18px;
}

/* Dark mode menu color */
body.dark-mode .navbar-menu {
    color: #ccc;
}

.navbar li {
    cursor: pointer;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #000000;
}

/* Dark mode active underline */
body.dark-mode .navbar .active {
    border-bottom: 2px solid #ccc;
}

/* Right Side (search + cart + login) */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}


/* Dark mode styles for button */
body.dark-mode .navbar button {
    color: #ddd;
    border: 1px solid #999;
}

body.dark-mode .navbar button:hover {
    background-color: #333;
}

/* Cart Notification Dot */
.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 50%;
    top: -8px;
    right: -8px;
}

/* Icons */
.navbar-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    cursor: pointer;
}

/* Dark mode icon coloring (if needed) */
body.dark-mode .navbar-icon {
    filter: brightness(0.8);
}


/* Responsive Styles */
@media (max-width: 900px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;
    }

    .navbar-icon {
        width: 20px;
        height: 20px;
    }
}
